#About-Section {
	padding: 4% 10% 3% 10%;
	text-align: center;
	background-color: #05cafb;
	background-image:<!--linear-gradient(rgba(5, 202, 251, 0), rgba(29, 134, 246, 0.95)),--> url("https://i.imgur.com/P4ngrjz.png");
	position: relative;
	/* Copy background properties from parallax1 */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	gap: 20px;

}

#About-Section h2 {
		font-family: 'Eurostile', sans-serif;
		font-size: 3em;
		text-transform: uppercase;
		font-style: italic;
		color: white;
		text-shadow: 2px 2px 5px black;
}


#About-Section p {
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	color: white;
	filter: drop-shadow(2px 2px 5px rgba(0,0,0));
}

.Media-Section img {
	border: 5px solid white;
	border-radius: 10px;
	filter: drop-shadow(1px 1px 4px rgba(0,0,0,.75));
}

#screenshot1:hover, #screenshot2:hover, #screenshot3:hover {
	opacity: 0.7;
	cursor: pointer;
	transition: 0.3s;
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9); 
}

.modal p {
	color: white;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	font-size: 25px;
	padding: 10px;
}

.modal-content {
	margin: auto;
	display: block;
	width: 75%;
	max-width: 960px;
  }

