#About-Section {
	padding: 4% 10% 3% 10%;
	text-align: center;
	background-color: #05cafb;
	background-image:linear-gradient(rgba(5, 202, 251, 0.25), rgba(5, 202, 251, 0.95)), url("https://i.imgur.com/P4ngrjz.png");
	position: relative;
	/* Copy background properties from parallax1 */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	gap: 20px;

}

#About-Section h2 {
		font-family: 'Eurostile', sans-serif;
		font-size: 3em;
		text-transform: uppercase;
		font-style: italic;
		color: white;
		text-shadow: 2px 2px 5px black;
}


#About-Section p {
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 5px black;
}
