html, body {
    margin: 0;
	padding: 0;
	border: 0;
    width: 100%;
    min-height: 100vh;
	overflow-x: hidden;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}

