html, body {
    margin: 0;
	padding: 0;
	border: 0;
    width: 100%;
    height: 100%;
	overflow-x: hidden;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}

.nav-link a:link {
	color: white;
}

/* footer */
#footer-hr {
	background-color: whitesmoke;
	padding: 3px;
}

#footer-section {
	border-color: aliceblue;
    padding: 2% 10% 2% 10%;
	/*background-image: url("https://i.imgur.com/DAEx1bx.jpg"); */
	background-color: black;
	min-height: 50vh; 
	position: relative;
	/* Copy background properties from parallax1 */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	gap: 20px;

}

#footer-section .row {
    padding-top: 5%;

}

#footer-section img {
	aspect-ratio: auto;
}

.footer-group {
	padding: 11% 0;
	position: relative;
	gap: 20px;
}

#footer-section p {
	color: white;
	/*font-family: 'Eurostile', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	font-weight: lighter;
	font-size: 14px;
}