body {
    background: #05cafb;
    margin: 3%;
    overflow: auto;
}

#date {
    font-family: 'Arial', sans-serif;
    background-color: #df474e;
    color: white;
    border-radius: 1em;
    padding: 0.45em 0.5em 0.3em;
    font-size: 13px;
    font-weight: 500;
    }

#newtag {
    color: white;
    background-color: red;
    font-size: small;
    padding: 0.2em 0.2em 0.1em;
}

a:link{text-decoration: none;}

a {
    font-family: 'Kanit', sans-serif;
    color: navy;
    font-size: 20px;
}

hr {
    border-top:5px dotted #dc3545;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #05cafb; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff477f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dc3545; 
    border-radius: 10px;
  }